@tailwind base;
@tailwind components;
@tailwind utilities;


.box-shadow-3d {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .tooltip:hover .newtooltip {
    display: block;
  }
  

  .image-slider-container {
    margin: 0 auto;
    width: 90vw;
  }
  
  .image-slider-container .slick-prev:before,
  .image-slider-container .slick-next:before {
    color: black;
   
  }

  .image-slider-container {
    padding: 20px;
  }
  
  .slider .slide {
    padding: 10px;
  }
  
  .category-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }
  
  .slide-name {
    margin-top: 10px;
    font-size: 14px;
  }


  /* Details.css */

/* Details.css */
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.shake {
  animation: shake 0.5s;
}

